<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/lightbox.css">
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <!--web-fonts-->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800' rel='stylesheet'
          type='text/css'>
    <!--//web-fonts-->
    <!--circle-chart-->
    <script src="js/jquery.circlechart.js"></script>
    <!--circle-chart-->
</head>
<body>
<!--header-->
<!--header-->
<div class="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header navbar-left">
                <h1><a href="index.html"><img style="width: 30rem" src="images/logo.png"/></a></h1>
            </div>
            <!--navigation-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="header-right">
                <div class="top-nav-text">
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="publication.html" class="scroll">Publication</a></li>
                        <li><a href="people.html" class="scroll">People</a></li>
                        <li><a href="resource.html" class="scroll">Resource</a></li>
                        <li><a href="opening.html" class="scroll">Opening</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div><!--//navigation-->
            </div>
            <div class="clearfix"></div>
        </div>
    </nav>
</div>

<div class="banner">
    <div class="container">

    </div>
</div>

<div class="about">
    <div class="container">
        <h3 class="title">About Me</h3>
        <div class="col-md-offset-1 col-md-3 team-grids">
            <div class="team-img">
                <img style="width:90%" src="images/people/wyc.jpg" alt="">
            </div>
        </div>
        <div class='col-md-8 about-text'>
            <h3>Yunchao Wei 魏云超</h3>
            <p> Lecturer (Assistant Professor) / ARC DECRA Fellow<br/>
            <a href="http://reler.net/">ReLER</a> | <a
                    href="https://www.uts.edu.au/research-and-teaching/our-research/centre-artificial-intelligence">Centre
                for Artificial Intelligence</a> | <a href="https://www.uts.edu.au/">University of Technology Sydney</a><br/>

            <strong>Office:</strong> Room 123, Level 10, Building 11, 81 Broadway, Ultimo NSW 2007 (PO Box 123)<br/>
            <strong>Email</strong>: Yunchao.Wei AT uts.edu.au | wychao1987 AT gmail.com<br/>

            <a href="https://scholar.google.com.sg/citations?user=qL9Csv0AAAAJ&hl=en" target="_blank"><i
                    class="fa fa-globe"></i> Google Scholar</a>
            <br>I received PhD from Beijing Jiaotong University, advised by Prof. <a
                    href="http://mepro.bjtu.edu.cn/zhaoyao/e_index.htm">Zhao Yao</a>. Before joining UTS, I was a
                Postdoc Researcher in Prof. <a href="https://www.ece.illinois.edu/directory/profile/t-huang1">Thomas
                    Huang</a>'s <a href="http://ifp-uiuc.github.io/">Image Formation and Professing (IFP)</a> group at
                Beckman Institute, UIUC, from 2017 to 2019. I was a Visiting Student from 2013 to 2015 and a Postdoc
                Researcher from 2016 to 2017 in the Learning and Vision (LV) Research Group at National University of
                Singapore (NUS), working with Prof. <a href="https://www.ece.nus.edu.sg/stfpage/eleyans/">Shuicheng
                    Yan</a> and Prof. <a href="https://sites.google.com/site/jshfeng/">Jiashi Feng</a>.
            <br/>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!--news-->
<div class="news">
    <div class="news-info">
        <div class="container">
            <h3 class="title">News</h3>
            <div class="history-tl-container">
                <ul class="tl">
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ 19th March 2020 3:00 PM ]</div>
                        <div class="item-detail">I was awarded as one of the five top early-career researchers in
                            Engineering and Computer Sciences in Australia by <a
                                    href="https://specialreports.theaustralian.com.au/1540291/27">The Australian</a>.
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ 19th March 2020 3:00 PM ]</div>
                        <div class="item-detail">The slides of <a href="assets/pdf/Wiztalk-魏云超-20200728.pptx">Data-Efficient
                            Image and Video Segmentation</a> at Tencent Wiztalk is avaliable now!
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ 19th March 2020 3:00 PM ]</div>
                        <div class="item-detail">We release <strong>University-1652</strong>, a multi-view multi-source
                            benchmark for drone-based geo-localization <a
                                    href="https://github.com/layumi/University1652-Baseline">[link]</a>.
                        </div>
                        <div class="item-title2">[ 19th March 2020 3:00 PM ]</div>
                        <div class="item-detail">We release <strong>University-1652</strong>, a multi-view multi-source
                            benchmark for drone-based geo-localization <a
                                    href="https://github.com/layumi/University1652-Baseline">[link]</a>.
                        </div>
                    </li>
                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ 19th March 2020 3:00 PM ]</div>
                        <div class="item-detail">We release <strong>Agriculture-Vision</strong>, the first large-scale
                            aerial farmland image dataset for semantic segmentation of agricultural patterns <a
                                    href="https://www.agriculture-vision.com/dataset">[link]</a>.
                        </div>
                    </li>

                    <li class="tl-item" ng-repeat="item in retailer_history">

                        <div class="item-title">[ 19th March 3:00 PM ]</div>
                        <div class="item-detail">We organized the Real-world Recognition from Low-quality Inputs and 1st
                            Tiny Object Detection Challenge workshop in ECCV 2020 <a href="https://rlq-tod.github.io/">[link]</a>
                            <a href="https://www.youtube.com/playlist?list=PLPtQK8rJZ9HzU0ao9-Zdy-vmCc_Rw-9U8">[Youtube]</a>.
                        </div>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>
<!--//news-->
<div class="team" id="team">
    <div class="team-info">
        <div class="container">
            <h3 class="title">Research Interests</h3>
            <p class="text-center" style="color: #fff; margin-bottom: 5px"><strong>Deep learning and its applications in
                computer vision, including image classification, object detection, semantic segmentation, etc.</strong>
            </p>

            <div class="team-row">
                <div class="col-md-3 team-grids">
                    <div class="team-img">
                        <img class="img-responsive" src="images/res1.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Object Detection</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 team-grids">
                    <div class="team-img">
                        <img class="img-responsive" src="images/res1.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Object Detection</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 team-grids">
                    <div class="team-img">
                        <img class="img-responsive" src="images/res1.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Object Detection</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 team-grids">
                    <div class="team-img">
                        <img class="img-responsive" src="images/res1.jpg" alt="">
                        <div class="captn">
                            <div class="captn-top">
                                <h4>Object Detection</h4>
                                <p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<!--<div id="services" class="services">-->
<!--    <div class="container">-->
<!--        <h3 class="title">Selected Award</h3>-->
<!--        <div class="col-md-offset-4">-->
<!--        <ul >-->
<!--            <li>2018 The Winner Prizes of All Human Parsing Tasks in the 2nd LIP Challenge</li>-->
<!--            <li>2017 The Runnerup Prizes of All Video Object Detection/Tracking Tasks in ILSVRC</li>-->
<!--            <li>2016 Excellent Doctoral Dissertation Award of	CIE</li>-->
<!--            <li>2016 Excellent Doctoral Dissertation Award of	Beijing Jiaotong University</li>-->
<!--            <li>2014 National Scholarship </li>-->
<!--            <li>2014 The Winner Prize of Object Detection Task 1a	in ILSVRC </li>-->
<!--            <li>2013 Huawei Scholarship</li>-->
<!--        </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash;map&ndash;&gt;-->
<!--<div>-->
<!--    <div class="row map-right">-->
<!--    <div class="col-md-6 ">-->
<!--        <h4>Contact Info</h4>-->
<!--        <p> +00 111 2222 333 | <a href="mailto:info@example.com">mail@example.com</a></p>-->

<!--        <h4>Address</h4>-->
<!--        <p> 123 San Sebastian | CG 09-123 Ba New York, USA</p>-->
<!--    </div>-->

<!--    <div class="col-md-6" style="text-align: center">-->
<!--      <script type="text/javascript" src="//rf.revolvermaps.com/0/0/4.js?i=2hlmeh3dic1&amp;m=0&amp;h=64&amp;c=ff0000&amp;r=0" async="async"></script>-->
<!--    </div>-->

<!--    </div>-->
<!--</div>-->
<!--//map-->
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="col-md-5 col-md-offset-2">
            <p>Copyright &copy; 2021.Company name All rights reserved. </p>
        </div>
        <div class="col-md-3">
            <script type="text/javascript"
                    src="//rf.revolvermaps.com/0/0/4.js?i=2hlmeh3dic1&amp;m=0&amp;h=64&amp;c=ff0000&amp;r=0"
                    async="async"></script>
        </div>
    </div>
    <!--//footer-->
    <!--banner Slider starts Here-->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 3
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!--//End-slider-script-->
    <!-- start-smooth-scrolling-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <!--//smooth-scrolling-of-move-up-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</div>
</body>
</html>
